
header{
    background-color: aqua;
    width: 50%;
    transition: all 1s ease-in-out;
}
main{
    background-color: brown;
    width: 50%;
    transition: all 1s ease-in-out;
    
}
footer{
    background-color: yellow;
    width: 50%;
    transition: all 1s ease-in-out;

}
header:hover{
    background-color: yellow;
    width: 80%;

}
footer:hover{
    background-color: aqua;
    width: 80%;
}
main:hover{
    background-color: brown;
    width: 80%
}